<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4 class="orange">HA RADIO</h4>
      <h1 class="text-center">HEAR STELLMON</h1>
      <hr>
      <h2>My name is Andrew Stellmon, a local non-profit organization dedicated to some stuff.</h2>
    </div>
  </div>
</div>